:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #404bbf;
}

/* Common */
body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main Page */
/* Header */
.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-item {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}

.auth-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 07;
  letter-spacing: 0.02em;
}

.hero-button {
  font-family: inherit;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1, 50;
  align-items: center;
  letter-spacing: 0.04em;
  display: flex;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

/* Advantages */

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 20;
  letter-spacing: 0.02em;
}

.advantages-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
}

/* Team */

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 20;
  letter-spacing: 0.02em;
}
.team-position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  color: #e7e9fc;
}
.logo-item-white {
  color: #f4f4fd;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* Portfolio */
.filter-button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.list-link {
  text-decoration: none;
}

.portfolio-title {
  font-size: 20px;
  line-height: 1, 20;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 50;
  letter-spacing: 0.02em;
}
